// @import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Questrial&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
}

// Main colors
.themecolorpalette {
  color: #ff6a00;
  color: #ebebeb;
  color: #c0c0c0;
  color: #3a6ea5;
  color: #004e98;
}

a {
  color: #3a6ea5;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
